<!-- hibernate.cfg.xml -->
<hibernate-configuration>
  <session-factory>
    <!-- Database connection properties -->
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost/AdmissionDB</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">cle111</property>
    <!-- Other Hibernate properties -->
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <!-- Mapping -->
    <mapping class="com.javatpoint.bean.User"/>
  </session-factory>
</hibernate-configuration>
